In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
price_df = pd.read_csv('data/all_stock_data_20200101_20250922.csv')
sw_ind = pd.read_csv('data/stk_sw_industry.csv')

In [15]:
price_df[price_df['ts_code']=='000001.SZ']

,ts_code,trade_date,close,turnover_rate,turnover_rate_f,volume_ratio,pe,pe_ttm,pb,ps,ps_ttm,dv_ratio,dv_ttm,total_share,float_share,free_share,total_mv,circ_mv
2738,000001.SZ,20250922,11.38,0.3073,0.7308,0.66,4.9618,5.0769,0.5018,1.5054,1.5894,8.4798,5.3427,1.940592e+06,1.940560e+06,816048.1215,2.208393e+07,2.208357e+07
10688,000001.SZ,20250919,11.45,0.4301,1.0228,0.90,4.9923,5.1081,0.5049,1.5147,1.5991,8.4279,5.3101,1.940592e+06,1.940560e+06,816048.1215,2.221978e+07,2.221941e+07
15581,000001.SZ,20250918,11.41,0.7143,1.6986,1.64,4.9749,5.0903,0.5031,1.5094,1.5936,8.4575,5.3287,1.940592e+06,1.940560e+06,816048.1215,2.214215e+07,2.214179e+07
17498,000001.SZ,20250917,11.64,0.3974,0.9450,0.91,5.0752,5.1929,0.5132,1.5398,1.6257,8.2904,5.2234,1.940592e+06,1.940560e+06,816048.1215,2.258849e+07,2.258812e+07
23508,000001.SZ,20250916,11.64,0.3649,0.8677,0.80,5.0752,5.1929,0.5132,1.5398,1.6257,8.2904,5.2234,1.940592e+06,1.940560e+06,816048.1215,2.258849e+07,2.258812e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6669828,000001.SZ,20200108,16.66,0.4369,0.9857,0.86,13.0269,11.5535,1.2058,2.7700,2.4307,0.7701,0.7701,1.940592e+06,1.940575e+06,860111.1956,3.233026e+07,3.232998e+07
6674902,000001.SZ,20200107,17.15,0.3755,0.8471,0.70,13.4101,11.8933,1.2413,2.8515,2.5022,0.7481,0.7481,1.940592e+06,1.940575e+06,860111.1956,3.328115e+07,3.328087e+07
6677773,000001.SZ,20200106,17.07,0.4442,1.0023,0.80,13.3475,11.8379,1.2355,2.8382,2.4905,0.7516,0.7516,1.940592e+06,1.940575e+06,860111.1956,3.312590e+07,3.312562e+07
6681866,000001.SZ,20200103,17.18,0.5752,1.2977,1.21,13.4335,11.9142,1.2434,2.8565,2.5065,0.7468,0.7468,1.940592e+06,1.940575e+06,860111.1956,3.333937e+07,3.333908e+07
6685079,000001.SZ,20200102,16.87,0.7885,1.7791,2.18,13.1911,11.6992,1.2210,2.8049,2.4613,0.7605,0.7605,1.940592e+06,1.940575e+06,860111.1956,3.273778e+07,3.273750e+07

In [12]:
sw_ind

        l1_code l1_name    ts_code       name   in_date  out_date is_new
0     801150.SI    医药生物  688068.SH       热景生物  20190911       NaN      Y
1     801140.SI    轻工制造  002862.SZ       实丰文化  20170330       NaN      Y
2     801080.SI      电子  300408.SZ       三环集团  20140127       NaN      Y
3     801710.SI    建筑材料  600819.SH       耀皮玻璃  19940128       NaN      Y
4     801880.SI      汽车  300580.SZ        贝斯特  20161212       NaN      Y
...         ...     ...        ...        ...       ...       ...    ...
5719  801080.SI      电子  600074.SH   退市保千(退市)  20150401       NaN      Y
5720  801740.SI    国防军工  600677.SH  *ST航通(退市)  20070702       NaN      Y
5721  801770.SI      通信  600485.SH  *ST信威(退市)  20030804       NaN      Y
5722  801180.SI     房地产  600240.SH   退市华业(退市)  20000628       NaN      Y
5723  801720.SI    建筑装饰  000018.SZ   神城A退(退市)  20180713       NaN      Y

[5724 rows x 7 columns]

In [23]:
ind_info = pd.merge(price_df[['ts_code']].drop_duplicates(), sw_ind[['ts_code','l1_code','l1_name','in_date']], on='ts_code', how='left')

In [24]:
ind_info = ind_info.drop_duplicates(subset=['l1_code', 'l1_name']).reset_index(drop=True)

In [25]:
ind_info

      ts_code    l1_code l1_name   in_date
0   302132.SZ  801740.SI    国防军工  20210730
1   601985.SH  801160.SI    公用事业  20150610
2   601390.SH  801720.SI    建筑装饰  20071203
3   603369.SH  801120.SI    食品饮料  20140120
4   600036.SH  801780.SI      银行  20020409
5   603799.SH  801050.SI    有色金属  20210730
6   002714.SZ  801010.SI    农林牧渔  20140122
7   300418.SZ  801760.SI      传媒  20150115
8   300059.SZ  801790.SI    非银金融  20100310
9   600066.SH  801880.SI      汽车  19970508
10  002920.SZ  801750.SI     计算机  20171208
11  000063.SZ  801770.SI      通信  19971118
12  000786.SZ  801710.SI    建筑材料  19970606
13  688036.SH  801080.SI      电子  20190916
14  600875.SH  801730.SI    电力设备  19951010
15  300759.SZ  801150.SI    医药生物  20190124
16  002001.SZ  801030.SI    基础化工  20240807
17  001979.SZ  801180.SI     房地产  20210730
18  601021.SH  801170.SI    交通运输  20210730
19  601766.SH  801890.SI    机械设备  20080728
20  600690.SH  801110.SI    家用电器  20110110
21  601857.SH  801960.SI    石油石化  20071101
22  600019.SH  801040.SI      钢铁  20001212
23  601898.SH  801950.SI      煤炭  20080102
24  601888.SH  801200.SI    商贸零售  20210730
25  603833.SH  801140.SI    轻工制造  20170310
26  300896.SZ  801980.SI    美容护理  20200914
27  300979.SZ  801130.SI    纺织服饰  20210730

In [8]:
import tushare as ts
pro = ts.pro_api('3339f390298f8503dc5cbcca9fce9898f10bd3a5cb8ce9315803e5cd')

In [14]:
df = pro.daily_basic(**{
    "ts_code": "920158.BJ",
    "trade_date": "",
    "start_date": "",
    "end_date": "",
}, fields=[
    "ts_code",
    "trade_date",
    "close",
    "turnover_rate",
    "turnover_rate_f",
    "volume_ratio",
    "pe",
    "pe_ttm",
    "pb",
    "ps",
    "ps_ttm",
    "dv_ratio",
    "dv_ttm",
    "total_share",
    "float_share",
    "free_share",
    "total_mv",
    "circ_mv"
])
df

Empty DataFrame
Columns: [ts_code, trade_date, close, turnover_rate, turnover_rate_f, volume_ratio, pe, pe_ttm, pb, ps, ps_ttm, dv_ratio, dv_ttm, total_share, float_share, free_share, total_mv, circ_mv]
Index: []

In [24]:

# 导入tushare
import tushare as ts
# 初始化pro接口
pro = ts.pro_api('3339f390298f8503dc5cbcca9fce9898f10bd3a5cb8ce9315803e5cd')

# 拉取数据
df = pro.fina_indicator(**{
    "ts_code": "300408.SZ",
    "ann_date": "",
    "start_date": "",
    "end_date": "",
    "period": "",
    "update_flag": "",
    "limit": "",
    "offset": ""
}, fields=[
    "ts_code",
    "ann_date",
    "end_date",
    "eps",
    "dt_eps",
    "total_revenue_ps",
    "revenue_ps",
    "capital_rese_ps",
    "surplus_rese_ps",
    "undist_profit_ps",
    "extra_item",
    "profit_dedt",
    "gross_margin",
    "current_ratio",
    "quick_ratio",
    "cash_ratio",
    "ar_turn",
    "ca_turn",
    "fa_turn",
    "assets_turn",
    "op_income",
    "ebit",
    "ebitda",
    "fcff",
    "fcfe",
    "current_exint",
    "noncurrent_exint",
    "interestdebt",
    "netdebt",
    "tangible_asset",
    "working_capital",
    "networking_capital",
    "invest_capital",
    "retained_earnings",
    "diluted2_eps",
    "bps",
    "ocfps",
    "retainedps",
    "cfps",
    "ebit_ps",
    "fcff_ps",
    "fcfe_ps",
    "netprofit_margin",
    "grossprofit_margin",
    "cogs_of_sales",
    "expense_of_sales",
    "profit_to_gr",
    "saleexp_to_gr",
    "adminexp_of_gr",
    "finaexp_of_gr",
    "impai_ttm",
    "gc_of_gr",
    "op_of_gr",
    "ebit_of_gr",
    "roe",
    "roe_waa",
    "roe_dt",
    "roa",
    "npta",
    "roic",
    "roe_yearly",
    "roa2_yearly",
    "debt_to_assets",
    "assets_to_eqt",
    "dp_assets_to_eqt",
    "ca_to_assets",
    "nca_to_assets",
    "tbassets_to_totalassets",
    "int_to_talcap",
    "eqt_to_talcapital",
    "currentdebt_to_debt",
    "longdeb_to_debt",
    "ocf_to_shortdebt",
    "debt_to_eqt",
    "eqt_to_debt",
    "eqt_to_interestdebt",
    "tangibleasset_to_debt",
    "tangasset_to_intdebt",
    "tangibleasset_to_netdebt",
    "ocf_to_debt",
    "turn_days",
    "roa_yearly",
    "roa_dp",
    "fixed_assets",
    "profit_to_op",
    "q_saleexp_to_gr",
    "q_gc_to_gr",
    "q_roe",
    "q_dt_roe",
    "q_npta",
    "q_ocf_to_sales",
    "basic_eps_yoy",
    "dt_eps_yoy",
    "cfps_yoy",
    "op_yoy",
    "ebt_yoy",
    "netprofit_yoy",
    "dt_netprofit_yoy",
    "ocf_yoy",
    "roe_yoy",
    "bps_yoy",
    "assets_yoy",
    "eqt_yoy",
    "tr_yoy",
    "or_yoy",
    "q_sales_yoy",
    "q_op_qoq",
    "equity_yoy",
    "update_flag",
    "invturn_days",
    "arturn_days",
    "inv_turn",
    "valuechange_income",
    "interst_income",
    "daa",
    "roe_avg",
    "opincome_of_ebt",
    "investincome_of_ebt",
    "n_op_profit_of_ebt",
    "tax_to_ebt",
    "dtprofit_to_profit",
    "salescash_to_or",
    "ocf_to_or",
    "ocf_to_opincome",
    "capitalized_to_da",
    "ocf_to_interestdebt",
    "ocf_to_netdebt",
    "ebit_to_interest",
    "longdebt_to_workingcapital",
    "ebitda_to_debt",
    "profit_prefin_exp",
    "non_op_profit",
    "op_to_ebt",
    "nop_to_ebt",
    "ocf_to_profit",
    "cash_to_liqdebt",
    "cash_to_liqdebt_withinterest",
    "op_to_liqdebt",
    "op_to_debt",
    "roic_yearly",
    "total_fa_trun",
    "q_opincome",
    "q_investincome",
    "q_dtprofit",
    "q_eps",
    "q_netprofit_margin",
    "q_gsprofit_margin",
    "q_exp_to_sales",
    "q_profit_to_gr",
    "q_adminexp_to_gr",
    "q_finaexp_to_gr",
    "q_impair_to_gr_ttm",
    "q_op_to_gr",
    "q_opincome_to_ebt",
    "q_investincome_to_ebt",
    "q_dtprofit_to_profit",
    "q_salescash_to_or",
    "q_ocf_to_or",
    "q_gr_yoy",
    "q_gr_qoq",
    "q_sales_qoq",
    "q_op_yoy",
    "q_profit_yoy",
    "q_profit_qoq",
    "q_netprofit_yoy",
    "q_netprofit_qoq",
    "rd_exp"
])
df

,ts_code,ann_date,end_date,eps,dt_eps,total_revenue_ps,revenue_ps,capital_rese_ps,surplus_rese_ps,undist_profit_ps,...,q_ocf_to_or,q_gr_yoy,q_gr_qoq,q_sales_qoq,q_op_yoy,q_profit_yoy,q_profit_qoq,q_netprofit_yoy,q_netprofit_qoq,rd_exp
0,300408.SZ,20250829,20250630,0.65,0.65,2.1648,2.1648,3.2446,0.5902,5.8195,...,126.2292,24.2443,26.3217,26.3217,19.1982,18.8013,32.1441,18.8872,32.2603,2.926364e+08
1,300408.SZ,20250429,20250331,0.28,0.28,0.9565,0.9565,3.2446,0.5902,5.8309,...,47.9447,17.2373,-8.0769,-8.0769,21.9097,22.8815,-9.1431,23.0202,-9.2837,NaN
2,300408.SZ,20250429,20250331,0.28,0.28,0.9565,0.9565,3.2446,0.5902,5.8309,...,47.9447,17.2373,-8.0769,-8.0769,21.9097,22.8815,-9.1431,23.0202,-9.2837,NaN
3,300408.SZ,20250424,20241231,1.14,1.14,3.8482,3.8482,3.2446,0.5902,5.5530,...,163.4740,23.0327,2.0906,2.0906,38.4861,33.4165,1.5971,33.7854,1.6305,5.830724e+08
4,300408.SZ,20241030,20240930,0.84,0.84,2.8076,2.8076,3.2446,0.5902,5.2466,...,125.2155,32.2868,4.8065,4.8065,41.0809,40.2685,-2.6056,40.5875,-2.5020,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,300408.SZ,20141114,20131231,1.48,1.48,11.6314,11.6314,0.0663,1.4585,7.6375,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.776930e+07
88,300408.SZ,20141114,20121231,1.44,1.44,12.0880,12.0880,0.0663,1.1289,6.0126,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.593127e+07
89,300408.SZ,20141114,20121231,1.44,1.44,12.0880,12.0880,0.0663,1.1289,6.0126,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.593127e+07
90,300408.SZ,20141114,20111231,1.08,1.08,9.7500,9.7500,0.0663,0.8279,3.6651,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.934586e+07
91,300408.SZ,20141114,20111231,1.08,1.08,9.7500,9.7500,0.0663,0.8279,3.6651,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.934586e+07

In [29]:

# 导入tushare
import tushare as ts
# 初始化pro接口
pro = ts.pro_api('3339f390298f8503dc5cbcca9fce9898f10bd3a5cb8ce9315803e5cd')

# 拉取数据
df = pro.balancesheet(**{
    "ts_code": "000001.SZ",
    "ann_date": "",
    "f_ann_date": "",
    "start_date": "",
    "end_date": "",
    "period": "",
    "report_type": "",
    "comp_type": "",
    "limit": "",
    "offset": ""
}, fields=[
    "ts_code",
    "ann_date",
    "f_ann_date",
    "end_date",
    "report_type",
    "comp_type",
    "total_share",
    "cap_rese",
    "undistr_porfit",
    "surplus_rese",
    "special_rese",
    "money_cap",
    "trad_asset",
    "notes_receiv",
    "accounts_receiv",
    "oth_receiv",
    "prepayment",
    "div_receiv",
    "int_receiv",
    "inventories",
    "amor_exp",
    "nca_within_1y",
    "sett_rsrv",
    "loanto_oth_bank_fi",
    "premium_receiv",
    "reinsur_receiv",
    "reinsur_res_receiv",
    "pur_resale_fa",
    "oth_cur_assets",
    "total_cur_assets",
    "fa_avail_for_sale",
    "htm_invest",
    "lt_eqt_invest",
    "invest_real_estate",
    "time_deposits",
    "oth_assets",
    "lt_rec",
    "fix_assets",
    "cip",
    "const_materials",
    "fixed_assets_disp",
    "produc_bio_assets",
    "oil_and_gas_assets",
    "intan_assets",
    "r_and_d",
    "goodwill",
    "lt_amor_exp",
    "defer_tax_assets",
    "decr_in_disbur",
    "oth_nca",
    "total_nca",
    "cash_reser_cb",
    "depos_in_oth_bfi",
    "prec_metals",
    "deriv_assets",
    "rr_reins_une_prem",
    "rr_reins_outstd_cla",
    "rr_reins_lins_liab",
    "rr_reins_lthins_liab",
    "refund_depos",
    "ph_pledge_loans",
    "refund_cap_depos",
    "indep_acct_assets",
    "client_depos",
    "client_prov",
    "transac_seat_fee",
    "invest_as_receiv",
    "total_assets",
    "lt_borr",
    "st_borr",
    "cb_borr",
    "depos_ib_deposits",
    "loan_oth_bank",
    "trading_fl",
    "notes_payable",
    "acct_payable",
    "adv_receipts",
    "sold_for_repur_fa",
    "comm_payable",
    "payroll_payable",
    "taxes_payable",
    "int_payable",
    "div_payable",
    "oth_payable",
    "acc_exp",
    "deferred_inc",
    "st_bonds_payable",
    "payable_to_reinsurer",
    "rsrv_insur_cont",
    "acting_trading_sec",
    "acting_uw_sec",
    "non_cur_liab_due_1y",
    "oth_cur_liab",
    "total_cur_liab",
    "bond_payable",
    "lt_payable",
    "specific_payables",
    "estimated_liab",
    "defer_tax_liab",
    "defer_inc_non_cur_liab",
    "oth_ncl",
    "total_ncl",
    "depos_oth_bfi",
    "deriv_liab",
    "depos",
    "agency_bus_liab",
    "oth_liab",
    "prem_receiv_adva",
    "depos_received",
    "ph_invest",
    "reser_une_prem",
    "reser_outstd_claims",
    "reser_lins_liab",
    "reser_lthins_liab",
    "indept_acc_liab",
    "pledge_borr",
    "indem_payable",
    "policy_div_payable",
    "total_liab",
    "treasury_share",
    "ordin_risk_reser",
    "forex_differ",
    "invest_loss_unconf",
    "minority_int",
    "total_hldr_eqy_exc_min_int",
    "total_hldr_eqy_inc_min_int",
    "total_liab_hldr_eqy",
    "lt_payroll_payable",
    "oth_comp_income",
    "oth_eqt_tools",
    "oth_eqt_tools_p_shr",
    "lending_funds",
    "acc_receivable",
    "st_fin_payable",
    "payables",
    "hfs_assets",
    "hfs_sales",
    "cost_fin_assets",
    "fair_value_fin_assets",
    "contract_assets",
    "contract_liab",
    "accounts_receiv_bill",
    "accounts_pay",
    "oth_rcv_total",
    "fix_assets_total",
    "cip_total",
    "oth_pay_total",
    "long_pay_total",
    "debt_invest",
    "oth_debt_invest",
    "update_flag",
    "oth_eq_invest",
    "oth_illiq_fin_assets",
    "oth_eq_ppbond",
    "receiv_financing",
    "use_right_assets",
    "lease_liab"
])
df

,ts_code,ann_date,f_ann_date,end_date,report_type,comp_type,total_share,cap_rese,undistr_porfit,surplus_rese,...,long_pay_total,debt_invest,oth_debt_invest,update_flag,oth_eq_invest,oth_illiq_fin_assets,oth_eq_ppbond,receiv_financing,use_right_assets,lease_liab
0,000001.SZ,20250823,20250823,20250630,1,2,1.940600e+10,8.070200e+10,2.592070e+11,1.078100e+10,...,None,NaN,NaN,0,NaN,None,NaN,None,NaN,NaN
1,000001.SZ,20250823,20250823,20250630,1,2,1.940592e+10,8.070200e+10,2.592070e+11,1.078100e+10,...,None,7.513720e+11,1.806120e+11,1,5.421000e+09,None,5.000000e+10,None,4.397000e+09,4.645000e+09
2,000001.SZ,20250419,20250419,20250331,1,2,1.940592e+10,8.070900e+10,2.556210e+11,1.078100e+10,...,None,7.776340e+11,1.734530e+11,1,5.625000e+09,None,5.000000e+10,None,4.411000e+09,4.651000e+09
3,000001.SZ,20250315,20250315,20241231,1,2,1.940592e+10,8.071300e+10,2.436050e+11,1.078100e+10,...,None,7.850750e+11,1.766550e+11,1,5.773000e+09,None,4.999500e+10,None,5.048000e+09,5.410000e+09
4,000001.SZ,20241019,20241019,20240930,1,2,1.940592e+10,8.071500e+10,2.398990e+11,1.078100e+10,...,None,7.774030e+11,1.797940e+11,0,5.989000e+09,None,4.999100e+10,None,5.150000e+09,5.523000e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,000001.SZ,20091029,20091029,20090930,1,2,3.105434e+09,7.029209e+09,4.589611e+09,7.808850e+08,...,None,NaN,NaN,0,NaN,None,NaN,None,NaN,NaN
96,000001.SZ,20090821,20090821,20090630,1,2,3.105434e+09,7.254196e+09,3.263581e+09,7.808850e+08,...,None,NaN,NaN,0,NaN,None,NaN,None,NaN,NaN
97,000001.SZ,20090424,20090424,20090331,1,2,3.105434e+09,7.528245e+09,2.074270e+09,7.808840e+08,...,None,NaN,NaN,0,NaN,None,NaN,None,NaN,NaN
98,000001.SZ,20090320,20090320,20081231,1,2,3.105434e+09,7.978982e+09,9.521930e+08,7.808850e+08,...,None,NaN,NaN,0,NaN,None,NaN,None,NaN,NaN
99,000001.SZ,20090320,20090320,20081231,1,2,3.105434e+09,7.978982e+09,9.521930e+08,7.808850e+08,...,None,NaN,NaN,1,NaN,None,NaN,None,NaN,NaN

In [32]:
df[df['report_type']=='1'].head(20)

,ts_code,ann_date,f_ann_date,end_date,report_type,comp_type,total_share,cap_rese,undistr_porfit,surplus_rese,...,long_pay_total,debt_invest,oth_debt_invest,update_flag,oth_eq_invest,oth_illiq_fin_assets,oth_eq_ppbond,receiv_financing,use_right_assets,lease_liab
0,000001.SZ,20250823,20250823,20250630,1,2,1.940600e+10,8.070200e+10,2.592070e+11,1.078100e+10,...,None,NaN,NaN,0,NaN,None,NaN,None,NaN,NaN
1,000001.SZ,20250823,20250823,20250630,1,2,1.940592e+10,8.070200e+10,2.592070e+11,1.078100e+10,...,None,7.513720e+11,1.806120e+11,1,5.421000e+09,None,5.000000e+10,None,4.397000e+09,4.645000e+09
2,000001.SZ,20250419,20250419,20250331,1,2,1.940592e+10,8.070900e+10,2.556210e+11,1.078100e+10,...,None,7.776340e+11,1.734530e+11,1,5.625000e+09,None,5.000000e+10,None,4.411000e+09,4.651000e+09
3,000001.SZ,20250315,20250315,20241231,1,2,1.940592e+10,8.071300e+10,2.436050e+11,1.078100e+10,...,None,7.850750e+11,1.766550e+11,1,5.773000e+09,None,4.999500e+10,None,5.048000e+09,5.410000e+09
4,000001.SZ,20241019,20241019,20240930,1,2,1.940592e+10,8.071500e+10,2.398990e+11,1.078100e+10,...,None,7.774030e+11,1.797940e+11,0,5.989000e+09,None,4.999100e+10,None,5.150000e+09,5.523000e+09
5,000001.SZ,20240816,20240816,20240630,1,2,1.940592e+10,8.076100e+10,2.309860e+11,1.078100e+10,...,None,7.791130e+11,1.535700e+11,1,5.909000e+09,None,4.999100e+10,None,5.466000e+09,5.852000e+09
6,000001.SZ,20240420,20240420,20240331,1,2,1.940600e+10,8.076100e+10,2.340270e+11,1.078100e+10,...,None,7.921670e+11,1.601500e+11,0,6.217000e+09,None,4.999100e+10,None,5.552000e+09,5.976000e+09
7,000001.SZ,20240420,20240420,20240331,1,2,1.940592e+10,8.076100e+10,2.340270e+11,1.078100e+10,...,None,7.921670e+11,1.601500e+11,1,6.217000e+09,None,4.999100e+10,None,5.552000e+09,5.976000e+09
8,000001.SZ,20240315,20240315,20231231,1,2,1.940592e+10,8.076100e+10,2.212550e+11,1.078100e+10,...,None,7.724670e+11,1.619310e+11,1,6.214000e+09,None,4.999100e+10,None,5.776000e+09,6.210000e+09
9,000001.SZ,20240315,20240315,20231231,1,2,1.940600e+10,8.076100e+10,2.212550e+11,1.078100e+10,...,None,7.724670e+11,1.619310e+11,0,6.214000e+09,None,4.999100e+10,None,5.776000e+09,6.210000e+09
10,000001.SZ,20231025,20231025,20230930,1,2,1.940592e+10,8.075900e+10,2.182460e+11,1.078100e+10,...,None,7.456610e+11,1.418390e+11,1,6.528000e+09,None,4.999100e+10,None,5.911000e+09,6.325000e+09
11,000001.SZ,20230824,20230824,20230630,1,2,1.940592e+10,8.075700e+10,2.040540e+11,1.078100e+10,...,None,7.403970e+11,1.505110e+11,1,6.694000e+09,None,4.999100e+10,None,5.815000e+09,6.218000e+09
12,000001.SZ,20230425,20230425,20230331,1,2,1.940592e+10,8.075600e+10,1.988260e+11,1.078100e+10,...,None,7.430010e+11,1.662020e+11,0,6.879000e+09,None,4.999100e+10,None,6.172000e+09,6.600000e+09
13,000001.SZ,20230425,20230425,20230331,1,2,1.940592e+10,8.075600e+10,1.988260e+11,1.078100e+10,...,None,7.430010e+11,1.662020e+11,1,6.879000e+09,None,4.999100e+10,None,6.172000e+09,6.600000e+09
14,000001.SZ,20230309,20230309,20221231,1,2,1.940592e+10,8.081600e+10,1.863050e+11,1.078100e+10,...,None,7.318500e+11,1.722330e+11,0,6.380000e+09,None,4.999100e+10,None,6.530000e+09,6.922000e+09
15,000001.SZ,20230309,20230309,20221231,1,2,1.940592e+10,8.081600e+10,1.863050e+11,1.078100e+10,...,None,7.318500e+11,1.722330e+11,1,6.380000e+09,None,4.999100e+10,None,6.530000e+09,6.922000e+09
16,000001.SZ,20221025,20221025,20220930,1,2,1.940592e+10,8.081600e+10,1.836740e+11,1.078100e+10,...,None,7.458210e+11,1.529240e+11,1,7.406000e+09,None,4.999100e+10,None,6.648000e+09,7.016000e+09
17,000001.SZ,20220818,20220818,20220630,1,2,1.940592e+10,8.081600e+10,1.693410e+11,1.078100e+10,...,None,7.551850e+11,1.581050e+11,1,7.268000e+09,None,4.999100e+10,None,6.740000e+09,7.095000e+09
18,000001.SZ,20220427,20220427,20220331,1,2,1.940600e+10,8.081600e+10,1.648040e+11,1.078100e+10,...,None,7.309320e+11,1.674420e+11,0,5.410000e+09,None,4.999100e+10,None,6.511000e+09,6.812000e+09
19,000001.SZ,20220427,20220427,20220331,1,2,1.940592e+10,8.081600e+10,1.648040e+11,1.078100e+10,...,None,7.309320e+11,1.674420e+11,1,5.410000e+09,None,4.999100e+10,None,6.511000e+09,6.812000e+09

In [33]:
df = pd.read_csv('Barra_factor_cal/data/csi300_stk_data_financial_index_balance_cashflow.csv')

In [36]:
df['n_cashflow_act']

0                  NaN
1         2.314260e+10
2        -4.091648e+10
3         5.504366e+08
4        -5.373200e+10
              ...
400656    3.434474e+09
400657    6.673306e+09
400658   -5.575567e+09
400659    1.026878e+10
400660    1.127709e+09
Name: n_cashflow_act, Length: 400661, dtype: float64