In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df1= pd.read_csv('data/Barra_data1.csv',index_col=0)

In [12]:
df1

,date,stocknames,capital,ret,industry,size,beta,momentum,residual_volatility,non_linear_size,book_to_price_ratio,liquidity,earnings_yield,growth,leverage
0,2005-04-08,000001.XSHE,95.6957,0.025478,HY007,0.406866,NaN,-1.062275,NaN,-0.722046,-0.616919,-1.238481,NaN,NaN,0.423248
1,2005-04-08,000002.XSHE,91.9302,-0.017094,HY011,0.408722,NaN,0.542099,NaN,-0.725028,-0.096505,-0.048484,NaN,NaN,-0.771683
2,2005-04-08,000009.XSHE,17.9650,-0.025000,HY003,-0.442991,NaN,-0.704308,NaN,0.922342,-0.344065,-1.100928,NaN,NaN,-0.601661
3,2005-04-08,000012.XSHE,9.4199,-0.013986,HY002,-0.047540,NaN,-0.327904,NaN,0.172730,-0.387298,1.118022,NaN,NaN,-0.211272
4,2005-04-08,000016.XSHE,10.4245,0.000000,HY004,-0.477167,NaN,-0.409086,NaN,0.972433,2.347568,-0.987071,NaN,NaN,-0.592620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,2008-07-22,601919.XSHG,381.5692,-0.009174,HY003,0.316908,0.548508,-0.043858,0.302589,-0.485374,-0.371095,1.185184,-0.175266,-0.293405,-0.377552
296,2008-07-22,601939.XSHG,535.5000,0.011364,HY007,0.428130,-0.576318,-0.095201,-0.973863,-0.664850,0.142347,-0.141416,0.421846,0.190302,1.245588
297,2008-07-22,601988.XSHG,265.5844,-0.008230,HY007,0.428130,-0.827416,0.369425,-1.263684,-0.664850,0.687783,-0.197899,0.001410,-0.064381,1.489286
298,2008-07-22,601991.XSHG,421.4186,-0.024390,HY010,0.115472,0.638875,0.364158,-0.018127,-0.106864,-0.256917,-2.341497,-0.027191,0.028095,-0.287706
299,2008-07-22,601998.XSHG,128.9082,0.012531,HY007,0.316992,0.110834,-0.512330,-0.896576,-0.485519,0.574754,-0.406103,0.421846,0.190302,0.784650